# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# copy from original Scotty3D
*build*/
.vs/
x64/
Debug/
*.asset
bin/*.db
bin/.vs
bin/*.opendb
bin/project.sublime-workspace
data/log_*
log_*
imgui.ini
deps/win/assimp/assimp.lib
deps/win/assimp/assimp_d.lib
settings.json
.vscode/*.json
.sublime/
.DS_Store

media/